<header class="main-header">
    <div class="container">
        <nav class="navbar navbar-expand-lg main-nav px-0">
            <a class="navbar-brand" href="/mojo">
                <img src="../../../assets/plumber (3).png" alt="rajeshdas.com">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu"
                aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="icon-bar icon-bar-1"></span>
                <span class="icon-bar icon-bar-2"></span>
                <span class="icon-bar icon-bar-3"></span>
            </button>
            <div class="collapse navbar-collapse" id="mainMenu">
                <ul class="navbar-nav ml-auto text-uppercase f1">
                    <li >
                        <a [routerLink]="['/']" class="active active-first">Home</a>
                    </li>
                    <li>
                        <a [routerLink]="['/demander']">Demander</a>
                    </li>
                    <li>
                      <a [routerLink]="['/about']">Déposer votre cv</a>
                  </li>
                    <li>
                        <a [routerLink]="['/team']">team</a>
                    </li>
                    <li>
                        <a [routerLink]="['/about']">About</a>
                    </li>
                    <li [hidden]="f">
                        <a [routerLink]="['/login']">login</a>
                    </li>
                    <li [hidden]="!f">
                        <a [routerLink]="['/login']" (click)="logout()">log out</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <!-- /.container -->
</header>
