<app-nav-bar></app-nav-bar>
<div class="container" style="margin-top: 10%;">
  <div class="row justif-content-center">
    <div class="col-4">
      <div class="card">
        <img src="../../../assets/geek.png" alt="Jane" style="width:100%">
        <div class="container">
          <h2>Hajar Achatibi</h2>
          <p class="title">CEO &amp; Founder</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>achatibihajar@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card">
        <img src="../../../assets/relax.png" alt="Mike" style="width:100%">
        <div class="container">
          <h2>Abdeslam Boutaba</h2>
          <p class="title">Director</p>
          <p>Some text that describes me lorem ipsum ipsum lorem.</p>
          <p>abdesslamboutaba@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>

  </div>
</div>
