/* You can add global styles to this file, and also import other style files */
/*body {
  color: #000;
  overflow-x: hidden;
  height: 100%;
  background-image: linear-gradient( 109.6deg,  rgba(121,203,202,1) 11.2%, rgba(119,161,211,1) 91.1% );
}*/

