<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Acceuil</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Mes demandes</ion-title>
    </ion-toolbar>
  </ion-header>
  <div style="margin-top: 20%;padding: 10%;" [hidden]="!found">
    <ion-card color="light">
      <div class="img-wrapper">
        <img src="../../assets/profile.png" />
        <ion-button color="light">
          <ion-icon slot="icon-only" name="camera-outline" color="medium">
          </ion-icon>
        </ion-button>
      </div>
      <ion-card-content class="ion-text-center">
        <h2>{{username}}</h2>
        <ion-text color="medium">
          <div style="display: flex;" class="ion-justify-content-center">
            <ion-icon name="location-outline" color="medium">
            </ion-icon>
            <p style="font-size: medium;">{{adresse}}</p>
          </div>
          <div style="display: flex;" class="ion-justify-content-center">
            <ion-icon name="call-outline" color="medium">
            </ion-icon>
            <p style="font-size: medium;">{{phone}}</p>
          </div>
        </ion-text>
      </ion-card-content>
    </ion-card>
  </div>
  <div [hidden]="found">
    <div style="margin-left: 30%;margin-top: 10%;">
      <img src="../../assets/not-found (1).png">
    </div>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Aucune demande</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <p style="font-size: large;">
         Il n'y a pas de demandes pour l'instant mais ne vous inquietez pas nous somme en train de vous chercher un client
        </p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
