<app-nav-bar></app-nav-bar><br><br><br><br>
<div class="bg">

    <div class="form-style-5">
        <img src="../../../assets/logotech.png" class="image">
        <form>
            <fieldset>
                <legend><span class="number">+</span> Order services</legend>
                <label for="operation">Service type:</label>
                <select [(ngModel)]="operation" id="operation" name="operation" style="height: 40px;">
                    <option value="" disabled selected>Select your option</option>
                    <option value="Plomberie">Plomberie</option>
                    <option value="Electricite">Electricite</option>
                    <option value="Bricolage">Bricolage</option>
                    <option value="Peinture">Peinture</option>
                    <option value="Serrurie">Serrurie</option>
                    <option value="Chauffage">Chauffage</option>
                </select>
            </fieldset>
            <fieldset>
                <input [(ngModel)]="adresse" type="text" name="adresse" placeholder="Your Adress">
            </fieldset>
            <input type="submit" value="Apply" (click)="getLocation()" />
        </form>
    </div>
</div>