<app-nav-bar></app-nav-bar>
<div class="frame">
	<div class="center">
		<div class="title">
			<h1>Ajouter un cv pour le déposer</h1>
		</div>
		<div class="dropzone">
			<img src="http://100dayscss.com/codepen/upload.svg" class="upload-icon" />
			<input type="file" accept=".pdf" (change)="selectFile($event)" class="upload-input" />
		</div>
		<button type="button" class="btn" (click)="dp()" name="uploadbutton">Déposer votre cv</button>

	</div>
</div>
<!-- original pen: https://codepen.io/roydigerhund/pen/ZQdbeN  -->

<!-- NO JS ADDED YET -->
